{# @var craft \craft\web\twig\variables\CraftVariable #}
{% extends "_layouts/_layout.twig" %}

{% block _inline_css %}
    <style>
        {{ source ("index_critical.min.css", ignore_missing = true) }}
    </style>
{% endblock %}

{% block content %}
    
    <section>
        <div>
            <h1>

                Index Page2
            </h1>
            <p> 
                Today is <!-- #echo var="DATE_LOCAL" --> 
              </p>
        </div>
        <div class="bg-white mx-auto max-w-sm shadow-lg rounded-lg overflow-hidden">
            <div class="sm:flex sm:items-center px-6 py-4">
              <img class="block h-16 sm:h-24 rounded-full mx-auto mb-4 sm:mb-0 sm:mr-4 sm:ml-0" src="https://avatars2.githubusercontent.com/u/4323180?s=400&u=4962a4441fae9fba5f0f86456c6c506a21ffca4f&v=4" alt="">
              <div class="text-center sm:text-left sm:flex-grow">
                <div class="mb-4">
                  <p class="text-xl leading-tight">Adam Wathan</p>
                  <p class="text-sm leading-tight text-grey-dark">Developer at NothingWorks Inc.</p>
                </div>
                <div>
                  <button class="text-xs font-semibold rounded-full px-4 py-1 leading-normal bg-white border border-purple text-purple hover:bg-purple hover:text-white">Message</button>
                </div>
              </div>
            </div>
          </div>
          <i class="icon-calendar"></i>
        
    </section>

{% endblock %}

{% block _inline_js %}
{% endblock %}
